<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>IDICM</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera access for face verification during login.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow location access to update and verify node location.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow saving captured photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow photo library access to upload progress photos.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Aptos-Bold.ttf</string>
		<string>Aptos.ttf</string>
		<string>Aptos-Italic.ttf</string>
		<string>Aptos-SemiBold.ttf</string>
		<string>Aptos-Mono-Italic.ttf</string>
		<string>Aptos-Narrow.ttf</string>
		<string>Aptos-Display-Bold-Italic.ttf</string>
		<string>Aptos-Light-Italic.ttf</string>
		<string>Aptos-Serif-Bold-Italic.ttf</string>
		<string>Aptos-Serif.ttf</string>
		<string>Aptos-Display-Bold.ttf</string>
		<string>Aptos-Mono-Bold-Italic.ttf</string>
		<string>Aptos-Serif-Italic.ttf</string>
		<string>Aptos-Serif-Bold.ttf</string>
		<string>Aptos-SemiBold-Italic.ttf</string>
		<string>Aptos-Narrow-Bold.ttf</string>
		<string>Aptos-Narrow-Italic.ttf</string>
		<string>Aptos-Black.ttf</string>
		<string>Aptos-Display-Italic.ttf</string>
		<string>Aptos-Bold-Italic.ttf</string>
		<string>Aptos-Mono.ttf</string>
		<string>Aptos-Light.ttf</string>
		<string>Aptos-Mono-Bold.ttf</string>
		<string>Aptos-ExtraBold-Italic.ttf</string>
		<string>Aptos-Black-Italic.ttf</string>
		<string>Aptos-Narrow-Bold-Italic.ttf</string>
		<string>Aptos-Display.ttf</string>
		<string>Aptos-ExtraBold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
